@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-accent: #0ea5e9;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
